@using Riode.ViewModels
@{
    ViewData["Title"] = "Details";
}

@section links
    {
    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">*@
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css">
}
    @model ProductVM
<main class="main mt-8 single-product">
        <div class="page-content mb-10 pb-6">
            <div class="container">
                <div class="product product-single row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-sticky">
                            <div class="product-single-carousel owl-carousel owl-theme owl-nav-inner row cols-1">
                                @foreach (var item in Model.Product.ProductImages)
                            {
                                <figure class="product-image">
                                    <img src="~/images/products/@item.ImageUrl"
                                     data-zoom-image="~/images/product/@item.ImageUrl"
                                     alt="Women's Brown Leather Backpacks" width="800" height="900">
                                </figure>
                            }
                        </div>
                        <div class="product-thumbs-wrap">
                            <div class="product-thumbs">
                                @foreach (var item in Model.Product.ProductImages)
                                {
                                    <div class="product-thumb">
                                        <img src="~/images/products/@item.ImageUrl" alt="product thumbnail"
                                         width="109" height="122">
                                    </div>
                                }
                            </div>
                            <button class="thumb-up disabled"><i class="fas fa-chevron-left"></i></button>
                            <button class="thumb-down disabled"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details">
                        <div class="product-navigation">
                            <ul class="breadcrumb breadcrumb-lg">
                                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                                <li><a href="#" class="active">Products</a></li>
                                <li>Tabinside</li>
                            </ul>

                            <ul class="product-nav">
                                <li class="product-nav-prev">
                                    @if (Model.Product.Id == 1)
                                    {
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@(ViewBag.maxId)">
                                            <i class="d-icon-arrow-left"></i> Prev
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@(Model.Product.Id-1)">
                                            <i class="d-icon-arrow-left"></i> Prev
                                        </a>
                                    }
                                </li>
                                <li class="product-nav-next">
                                    @if (Model.Product.Id == ViewBag.maxId)
                                    {
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="1">
                                            Next <i class="d-icon-arrow-right"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Product" asp-action="Details" asp-route-id="@(Model.Product.Id+1)">
                                            Next <i class="d-icon-arrow-right"></i>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>

                        <h1 class="product-name">@Model.Product.Name</h1>
                        <div class="product-meta">
                            SKU: <span class="product-sku">@Model.Product.SKU</span>
                            BRAND: <span class="product-brand">The Northland</span>
                        </div>
                        @if (Model.Product.DiscountPercent > 0)
                        {

                            <div class="product-price" style="display:inline; margin-right:10px">$ @(Model.Product.InitialPrice-(Model.Product.InitialPrice*Model.Product.DiscountPercent/100))</div>


                            <del class="old-price">$ @Model.Product.InitialPrice</del>

                        }
                        else
                        {
                            <div class="product-price">$ @Model.Product.InitialPrice</div>
                        }
                        <div class="ratings-container">
                            <div class="ratings-full">
                                <span class="ratings" style="width:@(Model.Product.ReviewSum/Model.Product.ReviewCount)%"></span>
                                <span class="tooltiptext tooltip-top"></span>
                            </div>
                            <a href="#product-tab-reviews" class="link-to-tab rating-reviews">( 6 reviews )</a>
                        </div>
                        <p class="product-short-desc">
                            @Model.Product.Description
                        </p>
                        <div class="product-form product-color">
                            <label>Color:</label>
                            <div class="product-variations">
                                @foreach (var item in Model.Product.ProductColors)
                                {
                                    <a class="color" data-src="~/images/demos/demo7/products/big1.jpg" href="#"
                                   style="background-color: @item.Color.Name;box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;"></a>
                                }
                            </div>
                        </div>
                        <div class="product-form product-size">
                            <label>Size:</label>
                            <div class="product-form-group">
                                <div class="product-variations">
                                    <a class="size" href="#">XL</a>
                                    <a class="size" href="#">L</a>
                                    <a class="size" href="#">M</a>
                                    <a class="size" href="#">S</a>
                                </div>
                                <a href="#" class="size-guide">
                                    <i class="d-icon-th-list"></i>Size
                                    Guide
                                </a>
                                <a href="#" class="product-variation-clean">Clean All</a>
                            </div>
                        </div>
                        <div class="product-variation-price">
                            <span>$239.00</span>
                        </div>

                        <hr class="product-divider">

                        <div class="product-form product-qty">
                            <div class="product-form-group">
                                <div class="input-group mr-2">
                                    <button class="quantity-minus d-icon-minus"></button>
                                    <input class="quantity form-control" type="number" min="1" max="1000000">
                                    <button class="quantity-plus d-icon-plus"></button>
                                </div>
                                <a asp-controller="Product" asp-action="Basket" asp-route-id="@Model.Product.Id" id="btn-addCard" class="btn-product text-normal ls-normal font-weight-semi-bold" style="width:200px !important">
                                    <i class="d-icon-bag" style="margin-right:10px"></i>Add to
                                    Cart
                                </a>
                            </div>
                        </div>

                        <hr class="product-divider mb-3">

                        <div class="product-footer">
                            <div class="social-links mr-4">
                                <a href="#" class="social-link social-facebook fab fa-facebook-f"></a>
                                <a href="#" class="social-link social-twitter fab fa-twitter"></a>
                                <a href="#" class="social-link social-pinterest fab fa-pinterest-p"></a>
                            </div>
                            <span class="divider d-lg-show"></span>
                            <div class="product-action">
                                <a href="#" class="btn-product btn-wishlist mr-6">
                                    <i class="d-icon-heart"></i>Add to
                                    wishlist
                                </a>
                                <a href="#" class="btn-product btn-compare">
                                    <i class="d-icon-compare"></i>Add to
                                    compare
                                </a>
                            </div>
                        </div>

                        <div class="accordion accordion-simple mb-4">
                            <div class="card border-no card-description">
                                <div class="card-header">
                                    <a href="#collapse1-1" class="collapse">Description</a>
                                </div>
                                <div id="collapse1-1" class="card-body expanded">
                                    <div class="row">
                                        <div class="col-12 mb-8">
                                            <p class="mb-6">
                                                Praesent id enim sit amet.Tdio vulputate eleifend in in tortor.
                                                ellus massa. siti iMassa ristique sit amet condim vel, facilisis
                                                quimequistiqutiqu amet condim Dilisis Facilisis quis sapien.
                                                Praesent id enim sit amet.
                                            </p>
                                            <ul class="mb-6">
                                                <li>Praesent id enim sit amet.Tdio vulputate</li>
                                                <li>Eleifend in in tortor. ellus massa.Dristique sitii</li>
                                                <li>Massa ristique sit amet condim vel</li>
                                                <li>
                                                    Dilisis Facilisis quis sapien. Praesent id enim sit amet
                                                </li>
                                            </ul>
                                            <p class="mb-0">
                                                Praesent id enim sit amet odio vulputate eleifend in in tortor.
                                                Sellus massa, tristique sitiismonec tellus massa, tristique sit
                                                amet condim vel,
                                                facilisis quimequistiqutiqu amet condim vel, facilisis Facilisis
                                                quis sapien.
                                                Praesent id enim sit amet odio vulputate odio vulputate eleifend
                                                in in tortor.
                                                Sellus massa, tristique sitiismonec tellus massa, tristique sit
                                                ametcdimel,facilisis
                                                quimequistiqutiqu amet condim vel, facilisis Facilisis quis
                                                sapien. Praesent id enim
                                                sit amet odio vulputate
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-additional">
                                <div class="card-header">
                                    <a href="#collapse1-2" class="expand">Additional information</a>
                                </div>
                                <div class="card-body collapsed" id="collapse1-2">
                                    <ul class="list-none">
                                        <li>
                                            <label>Brands:</label>
                                            <p>SkillStar, SLS</p>
                                        </li>
                                        <li>
                                            <label>Color:</label>
                                            <p>Blue, Brown</p>
                                        </li>
                                        <li>
                                            <label>Size:</label>
                                            <p>Large, Medium, Small</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card card-sizeguide">
                                <div class="card-header">
                                    <a href="#collapse1-3" class="expand">Size Guide</a>
                                </div>
                                <div class="card-body collapsed" id="collapse1-3">
                                    <figure class="size-image mt-4 mb-4">
                                        <img src="~/images/product/size_guide.png" alt="Size Guide Image"
                                             width="217" height="398">
                                    </figure>
                                    <figure class="size-table mt-4 mb-4">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>SIZE</th>
                                                    <th>CHEST(IN.)</th>
                                                    <th>WEIST(IN.)</th>
                                                    <th>HIPS(IN.)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>XS</th>
                                                    <td>34-36</td>
                                                    <td>27-29</td>
                                                    <td>34.5-36.5</td>
                                                </tr>
                                                <tr>
                                                    <th>S</th>
                                                    <td>36-38</td>
                                                    <td>29-31</td>
                                                    <td>36.5-38.5</td>
                                                </tr>
                                                <tr>
                                                    <th>M</th>
                                                    <td>38-40</td>
                                                    <td>31-33</td>
                                                    <td>38.5-40.5</td>
                                                </tr>
                                                <tr>
                                                    <th>L</th>
                                                    <td>40-42</td>
                                                    <td>33-36</td>
                                                    <td>40.5-43.5</td>
                                                </tr>
                                                <tr>
                                                    <th>XL</th>
                                                    <td>42-45</td>
                                                    <td>36-40</td>
                                                    <td>43.5-47.5</td>
                                                </tr>
                                                <tr>
                                                    <th>XXL</th>
                                                    <td>45-48</td>
                                                    <td>40-44</td>
                                                    <td>47.5-51.5</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </figure>
                                </div>
                            </div>
                            <div class="card card-reviews">
                                <div class="card-header">
                                    <a href="#collapse1-4" class="expand">Reviews (2)</a>
                                </div>
                                <div class="card-body collapsed" id="collapse1-4">
                                    <div class="comments mb-8 pt-2 pb-2 border-no">
                                        <ul>
                                            @if (Model.Product.ProductComments == null)
                                            {

                                            }
                                            else
                                            {
                                                @foreach (var item in Model.Product.ProductComments)
                                                {
                                                    <li>
                                                        <div class="comment">
                                                            <figure class="comment-media">
                                                                <a href="#">
                                                                    <img src="~/images/blog/comments/1.jpg" alt="avatar">
                                                                </a>
                                                            </figure>
                                                            <div class="comment-body">
                                                                <div class="comment-rating ratings-container mb-0">
                                                                    <div class="ratings-full">
                                                                        <span class="ratings" style="width:@item.Rating%"></span>
                                                                        <span class="tooltiptext tooltip-top">@(item.Rating/20)</span>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-user">
                                                                    <span class="comment-date text-body">
                                                                        @item.CreatedTime
                                                                    </span>
                                                                    <h4><a href="#">@(item.AppUser.Name + " " + item.AppUser.Surname)</a></h4>
                                                                </div>

                                                                <div class="comment-content">
                                                                    <p>
                                                                        @item.Text
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <!-- End Comments -->
                                    <div class="reply">
                                        <div class="title-wrapper text-left">
                                            <h3 class="title title-simple text-left text-normal">
                                                Add a Review
                                            </h3>
                                            <p>
                                                Your email address will not be published. Required fields are
                                                marked *
                                            </p>
                                        </div>
                                        @*                                        <div class="rating-form">
                                        <label for="rating" class="text-dark">Your rating * </label>
                                        <span class="rating-stars selected">
                                        <a class="star-1" href="#">1</a>
                                        <a class="star-2" href="#">2</a>
                                        <a class="star-3" href="#">3</a>
                                        <a class="star-4 active" href="#">4</a>
                                        <a class="star-5" href="#">5</a>
                                        </span>

                                        <select name="rating" id="rating" required=""
                                        style="display: none;">
                                        <option value="">Rate…</option>
                                        <option value="5">Perfect</option>
                                        <option value="4">Good</option>
                                        <option value="3">Average</option>
                                        <option value="2">Not that bad</option>
                                        <option value="1">Very poor</option>
                                        </select>
                                        </div>*@
                                        <form method="post" asp-controller="Product" asp-action="PostComment">
                                            <input type="hidden" name="ProductId" value="@Model.Product.Id" />
                                            <textarea id="Text" name="Text" cols="30" rows="6"
                                                      class="form-control mb-4" placeholder="Comment *">
                                                  </textarea>
                                            <input class="form-control mb-4" type="number" min="0" max="100" name="Rating" placeholder="Rating 0-100 *" />
                                            <button type="submit" class="btn btn-primary btn-rounded">
                                                Submit<i class="d-icon-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="pt-3 mt-2">
                <h2 class="title justify-content-center">Related Products</h2>

                <div class="owl-carousel owl-theme owl-nav-full row cols-2 cols-md-3 cols-lg-4"
                     data-owl-options="{
							'items': 5,
							'nav': false,
							'loop': false,
							'dots': true,
							'margin': 20,
							'responsive': {
								'0': {
									'items': 2
								},
								'768': {
									'items': 3
								},
								'992': {
									'items': 4,
									'dots': false,
									'nav': true
								}
							}
						}">
                    @foreach (var item in Model.Products)
                    {
                        <div class="product shadow-media">
                            <figure class="product-media">
                                <a href="product.html">
                                    <img src="~/images/products/@item.ProductImages.FirstOrDefault(x=>x.StatusImage == true).ImageUrl" alt="product" width="280" height="315">
                                </a>
                                <div class="product-label-group">
                                    @if (item.DiscountPercent > 0)
                                    {
                                        <label class="product-label" style="background-color:@ViewBag.DiscountBadge.Color">@item.DiscountPercent % @ViewBag.DiscountBadge.Name</label>
                                    }
                                    @foreach (var prdBadge in item.ProductBadges)
                                    {
                                        if (prdBadge.Badge.Id != 5)
                                        {
                                            <label class="product-label" style="background-color:@prdBadge.Badge.Color">@prdBadge.Badge.Name</label>
                                        }
                                    }
                                </div>
                                <div class="product-action-vertical">
                                    <a asp-controller="Product" asp-action="Basket" asp-route-id="@item.Id" id="btn-addCard" class="btn-product-icon btn-cart" data-toggle="modal"
                                   data-target="#addCartModal" title="Add to cart"><i class="d-icon-bag"></i></a>
                                    <a href="#" class="btn-product-icon btn-wishlist" title="Add to wishlist">
                                        <i class="d-icon-heart"></i>
                                    </a>
                                </div>
                                <div class="product-action">
                                    <a asp-controller="Home" asp-action="Modal" asp-route-id="@item.Id" class="btn-product btn-quickvieww" data-bs-toggle="modal" data-bs-target="#myModal" title="Quick View">Quick View</a>
                                </div>
                            </figure>
                            <div class="product-details">
                                <div class="product-cat">
                                    <a href="shop-grid-3col.html">@item.Category.Name</a>
                                </div>
                                <h3 class="product-name">
                                    <a href="product.html">@item.Name</a>
                                </h3>
                                <div class="product-price">
                                    @if (item.DiscountPercent > 0)
                                    {
                                        <ins class="new-price">@(item.InitialPrice-(item.InitialPrice*item.DiscountPercent/100))</ins>
                                        <del class="old-price">@item.InitialPrice</del>
                                    }
                                    else
                                    {
                                        <ins class="new-price">@item.InitialPrice</ins>
                                    }
                                </div>
                                <div class="ratings-container">
                                    <div class="ratings-full">
                                        <span class="ratings" style="width:@(item.ReviewSum/item.ReviewCount)%"></span>
                                        <span class="tooltiptext tooltip-top"></span>
                                    </div>
                                    <a href="#" class="rating-reviews">
                                        ( <span class="review-count">@item.ReviewCount</span>
                                        reviews
                                        )
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
    </div>
</main>

<div id="myModal" class="modal modal-fade" style="margin-top:70px;" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content w-100" style="border-radius:3%; padding:4%">
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            $(document).on("click", ".btn-quickvieww", function(e) {
                e.preventDefault();
                let url = $(this).attr("href")
                getProductDetails(url)
            })
        })
        function getProductDetails(url) {
            $.ajax({
                type: "GET",
                url: url,
            }).done(function(res) {
                $(".modal-content").html(res)
                console.log(res)
            });
        }
    </script>
}


